{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="flashes ">
    {% for message in messages %}
    <div class="text-center  container-fluid col-12"style="; background-color: ; width:300px; ">{{ message }}</div>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="/uploadcsv" enctype="multipart/form-data">
    <div class="form-group">
        <label for='inputFile'>File input</label>
        <input type="file" name="inputFile"></input>
        <button type="submit" class="btn btn-secondary">submit</button>
    </div>
</form>
{% endblock %}